pipeline/PL_Ingest_Generic.json
{
	"name": "PL_Ingest_Generic",
	"properties": {
		"activities": [
			{
				"name": "Lookup - Get Sources",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM dbo.md_Source WHERE Active = 1 AND SourceType =\n  '@{pipeline().parameters.pSourceName}'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL",
						"type": "DatasetReference",
						"parameters": {
							"param_System": "modern"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Dataset",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup - Get Sources",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup - Get Sources').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch based on source",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().SourceType",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "ODBC",
										"activities": [
											{
												"name": "Source to ADLS",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "OdbcSource",
														"queryTimeout": "02:00:00"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_ODBC_SQL",
														"type": "DatasetReference",
														"parameters": {
															"pTable": "dbo.Employee",
															"pWhere": "''",
															"pQueryMode": "Table"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_PARQUET",
														"type": "DatasetReference",
														"parameters": {
															"pSource": "bronze",
															"pFolder": "hr/employees",
															"pFileName": {
																"value": "@{trim(concat(item().SourceName, '_', formatDateTime(utcNow(), 'yyyyMMddHHmmss'), '.parquet'))}\n",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pSourceName": {
				"type": "string",
				"defaultValue": "ODBC"
			},
			"pRunDate": {
				"type": "string",
				"defaultValue": "@utcNow()"
			},
			"pActiveOnly": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"variables": {
			"vWaterMark": {
				"type": "String"
			}
		},
		"annotations": []
	}
}