pipeline/PL_Ingest_Generic.json
{
	"name": "PL_Ingest_Generic",
	"properties": {
		"activities": [
			{
				"name": "Lookup - Get Sources",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "@concat(\n  'SELECT * FROM dbo.md_Source WHERE Active = 1',\n  if(\n    equals(pipeline().parameters.pSourceName, ''),\n    '',\n    concat(' AND SourceName = ''', pipeline().parameters.pSourceName, '''')\n  )\n)\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL",
						"type": "DatasetReference",
						"parameters": {
							"param_System": "modern"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Dataset",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup - Get Sources",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup - Get Sources').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch based on source",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"cases": [
									{
										"value": "ODBC"
									},
									{
										"value": "SMB"
									},
									{
										"value": "REST"
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pSourceName": {
				"type": "string"
			},
			"pRunDate": {
				"type": "string",
				"defaultValue": "@{utcNow()}"
			},
			"pActiveOnly": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"variables": {
			"vWaterMark": {
				"type": "String"
			}
		},
		"annotations": []
	}
}